<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>LinkedIn</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>WelcomePage.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
    <url-pattern>/faces/Servlets/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>Servlets.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>Servlets.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostHandle</servlet-name>
    <servlet-class>Servlets.PostHandle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostHandle</servlet-name>
    <url-pattern>/PostHandle/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentCreation</servlet-name>
    <servlet-class>Servlets.CommentCreation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentCreation</servlet-name>
    <url-pattern>/CommentCreation/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Network</servlet-name>
    <servlet-class>Servlets.Network</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Network</servlet-name>
    <url-pattern>/Network/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Messaging</servlet-name>
    <servlet-class>Servlets.Messaging</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Messaging</servlet-name>
    <url-pattern>/Messaging/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Settings</servlet-name>
    <servlet-class>Servlets.Settings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Settings</servlet-name>
    <url-pattern>/Settings/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>Servlets.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>Servlets.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditProfile/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicProfile</servlet-name>
    <servlet-class>Servlets.PublicProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicProfile</servlet-name>
    <url-pattern>/PublicProfile/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrivateProfile</servlet-name>
    <servlet-class>Servlets.PrivateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrivateProfile</servlet-name>
    <url-pattern>/PrivateProfile/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicNetwork</servlet-name>
    <servlet-class>Servlets.PublicNetwork</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicNetwork</servlet-name>
    <url-pattern>/PublicNetwork/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListUsers</servlet-name>
    <servlet-class>Servlets.ListUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUsers</servlet-name>
    <url-pattern>/ListUsers/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Notifications</servlet-name>
    <servlet-class>Servlets.Notifications</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Notifications</servlet-name>
    <url-pattern>/Notifications/</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>tempfile.dir</param-name>
    <param-value>tmpfiles</param-value>
  </context-param>
  <context-param>
    <param-name>LinkedIn.dir</param-name>
    <param-value>LinkedIn</param-value>
  </context-param>
  <context-param>
    <param-name>users.dir</param-name>
    <param-value>users</param-value>
  </context-param>
  <context-param>
    <param-name>posts.dir</param-name>
    <param-value>posts</param-value>
  </context-param>
</web-app>