.notifications {
    background-color: gray; /* Add an active/current color for nav bar */
}


.container{
	padding: 30px;
    background-color: rgba(255, 255, 255, 0.85); 
    padding-bottom: 50px;
    margin: 50px;
    height:100vh;
    	
}


.friendRequests {
	height:40vh;
	overflow-y: auto;
	border-radius: 5px;
	border: 1px solid #B6AFAF;
}

.likesComments{
	 overflow-y: auto;
	 height:40vh;
	 margin-bottom:20px;
	 border-radius: 5px;
	 border: 1px solid 	#B6AFAF;
}



.requestTable{
	height:100%;
	width:100%;
	margin: 0px auto;
    float: none;
    border: 2px solid #cecece;
    
}

