.settings {
    background-color: gray; /* Add an active/current color */
}


.container{
	background-color: rgba(255, 255, 255, 0.85); 
	position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: auto;
    height: 500px;
    
}

.submit{
	float: left;
}

.cancel{
	float: right;
	background-color: #D09CA8;
	color: white;
}

.buttons{
	margin-top: 50px;
}

