.home {
    background-color: gray; /* Add an active/current color */
}

.main{
	
}

.leftdiv{
	background-color: white;
	width: 220px;
	height: 250px;
	float: left;
	border: 1px gray solid;
	border-radius: 3px;
	box-shadow: 0 0 1px black;
	margin-top: 50px;
	margin-left: 50px;
	text-align: center;
	color: black;
	display:inline-block;
}

.image_circle{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 50%;
	border: 2px solid white;
	box-shadow: 0 0 3px black;
}

.item_profile{
	width: 100%;
	height: 150px;
	border-bottom: 1px solid #e0e0d1;
	color: black;
}

.item_profile:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .8;
    color: white;
    text-decoration: none;
    background-color: gray;
}

.item_network{
	width: 100%;
	height: 100px;
	padding-top: 10px;
	color: black;
}

.item_network:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .8;
    color: white;
    text-decoration: none;
    background-color: gray;
}

a:hover{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

#connections_number{
	font-size: 30px;
	color: #66a3ff;
	text-align:center;
}

/* for creating post */
.create_post{
	background-color: white;
	align: center;
	width: 550px;
	height: auto;
	margin-top: 50px;
	float: right;
	margin-left: auto;
	margin-right: 250px;
	border: 1px solid black;
	border-radius: 1px;
	padding: 20px;
}

.divider{
	border-bottom: 1px solid #e0e0d1;
}

.btn{
	margin-right: 5px;
}

.btn-primary{
	float: right;
}

textarea{
	border: none;
	outline: none;
}

textarea::-webkit-input-placeholder {
	color: gray;
}

textarea:-moz-placeholder { /* Firefox 18- */
	color: gray;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
	color: gray; 
}

textarea:-ms-input-placeholder {
	color: gray; 
}

.info_post{
	color: black;
}

.info_post img{
	float: left;
	object-fit: contain;
}

.info_post h5{
	margin-left: 10px;
}

.image_circle_view{
	width:50px;
	height:50px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 50%;
}

.form_post{
	margin-top: 50px;
	clear: both;
}

.posts{
	align: center;
	width: 550px;
	height: auto;
	float: right;
	margin-left: 100px;
	margin-right: 250px;
	display: inline-block;
	padding-bottom:100px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 100;
    margin: auto;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}