

.myRow{
	height: 200px;
}

.myContainer{
	padding: 50px;
	overflow-y: auto;
    overflow-x: auto;
    background-color: rgba(255, 255, 255, 0.85); 
    padding-bottom: 80px;
}


.myContainerPublicNetwork{
	
	margin-top:70px;
	padding: 50px;
	overflow-y: auto;
    overflow-x: auto;
    background-color: rgba(255, 255, 255, 0.85); 
    padding-bottom: 80px;
}

.myRow > div{
	height: 100%;
}

.profileImage{
	height:80px;
	width:80px;
	border-radius: 50%;
	border: 1px solid #DCDCDC;
	object-fit: contain;
}


.myTable{
	height:100%;
	width:100%;
	margin: 0px auto;
    float: none;
    margin-top:10%;
    border: 2px solid #DCDCDC;
    table-layout: fixed;
    
}

 td {
    text-align: left;  
}

.searchContainer{
	padding-bottom:40px;
	padding-top:20px;
	margin: 0 auto;
	float: none;
}


a .deco-none {
    color:#000000;
    text-decoration: none;

}

.nameSurname{
	font-size: 18px;
}

.reject-button{
	margin-right:20px;
}



