.network {
    background-color: gray; /* Add an active/current color */
}


.row{
	height: 200px;
}

.myContainer{
	padding: 50px;
	overflow-y: auto;
    overflow-x: auto;
    background-color: rgba(255, 255, 255, 0.85); 
    padding-bottom: 80px;
}

.row > div{
	height: 100%;
}

.profileImage{
	height:100px;
	
}


.myTable{
	height:100%;
	width:100%;
	margin: 0px auto;
    float: none;
    margin-top:10%;
    border:none;
    border: 2px solid #DCDCDC;
    
}

 td {
    text-align: left;  
}
