.container{
	background-color: rgba(255, 255, 255, 0.85); 
	position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: auto;
    height: 400px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

#uploadedImageDiv{
	padding:5%;
	text-align:center;
}